.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(113, 200, 253);
}

.contestants {
  background-color: rgba(45, 51, 239, 0.5);
  display: flex;
  flex: 0.6;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.realContestants{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.buttonReset{
  display: flex;
}

.contestant{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.contestant > img{
  width: 100px;
  height: 100px;
}

.categories{
  background-color: rgba(0, 45, 81, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.4;
}

.subcategory{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.subcategory > .ant-btn img{
  align-items: center;
  width: 100px;
  height: 100px;
}

.subcategory > .ant-btn{
  width: 200px;
  background-color: rgb(167, 181, 228);
}

.subcategory > .ant-btn{
  margin: 2px;
}

.roundOne{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0.2;
}

.QuestionScreen{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clue > .ant-btn{
  font-size: 20px;
  width: 200px;
  height: 200px;
  background-color: rgb(167, 181, 228);
}

.clue:not(:first-child) > .ant-btn > span{
  display: none;
}

.hostButtons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hostButtons > .ant-btn{
  font-weight: bold;
}

.clueConnection{
  color: white;
  font-size: 30px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(4, 39, 76);
}

.clueTimeBarOne, .clueTimeBarTwo, .clueTimeBarThree, .clueTimeBarFour{
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  width: 0px;
  transition: width 7.5s linear;
  white-space: nowrap;
}

.clueTimeBarTwo, .clueTimeBarThree, .clueTimeBarFour{
  visibility: hidden;
}

.totalPoints, .finitto{
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.finitto{
  margin-top: 100px;
}

.footer{
  background-color: rgb(4, 39, 76);
  color: white;
  font-size: 15px;
  font-weight: 700;
  position: fixed;
  bottom: 0;
}

.informationButton{
  position: absolute;
  right: 10px;
  height: 50px;
}

.modal {
  font-size: 15px;
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
}